body{

}

#Header{
border:solid 8px black;
width:500px;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
text-align: center;
}

h3{
color: #FFBC00;
font-size: 40px;
font-family: "Passion One";
margin-bottom: 0px;
}

p{
color: white;
font-family: "Arial"; 
font-weight: bold; 
}

#Header h1{
font-size: 60px;
font-family: "Passion One";
color: #ffbc00;
font-weight: bold;
}

#LeftNav{
border:solid 8px black;
width: 500px;
float: left;
text-align: center;
list-style-type: none;
padding-left: 0px;
padding-bottom: 8px;
}

#LeftNav ul{
    
}

a{

}

ul{

}

#Content{
border:solid 8px black;
width: 500px;
text-align: center;
padding-bottom: 15px;
}

#Footer{
text-align: center;
}

.tiles{

}

#bow{

}